.page {
  display: grid;
  grid-template-rows: 80px 1fr 80px;
  grid-template-areas:
    "nav"
    "main"
    "footer";
  height: 100%;
  background-color: #f5f5f5;
}

@media only screen and (max-width: 600px) {
  .page {
    grid-template-rows: 80px 1fr 80px;
    grid-template-areas:
      "nav"
      "main"
      "footer";
  }
}

.main {
  grid-area: main;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  overflow-y: scroll;
}

.main.center {
  justify-content: center;
}
