.form-container {
  max-width: 400px;
  width: 100%;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
}

.form-container h1 {
  text-align: center;
}

.text-area-description {
  height: 200px;
  padding: 20px;
  border-radius: 8px;
  resize: none;
  color: white;
  background-color: #333;
}

p.text-red {
  color: red;
}
