.App {
  display: grid;
  grid-template-rows: 80px 1fr 80px;
  grid-template-columns: 1fr 1fr 200px;
  grid-template-areas:
    "nav nav nav"
    "main main aside"
    "footer footer footer";
  height: 100%;
  background-color: #f5f5f5;
}

@media only screen and (max-width: 600px) {
  .App {
    grid-template-rows: 80px 80px 1fr 80px;
    grid-template-columns: 1fr;
    grid-template-areas:
      "nav"
      "aside"
      "main"
      "footer";
  }
}
